.container{
    display: grid;
    grid-template-columns: 240px 600px 370px ;
    grid-template-rows:100px 200px 300px 300px 100px 100px;
    grid-gap: 10px;
}
.col{
    border:  1px solid black;
}
.col1{
    grid-column: 1/4;
}
.col3{
    grid-column: 2/4;
    grid-row: 2/4;
}
.col2{
    grid-row: 2/4;
}
.col4{
    grid-column: 1/4;
}
.col5{
    grid-column: 1/4;
}